.section-sidebar{
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 30;
    background: rgba($color: #000000, $alpha: 0.5);
}

.scroll-links{
    position: relative;
    width: 200px;
    height: 40px;
    background: #f3f5f7;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    left: 3%;
}