@import "../../../assets/variables.scss";

.container-grid {
  display: grid;
  position: relative;
  width: 100%;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

  @media screen and (max-width: $md) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}
