.mob-navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 300px;
    height: 100%;
    z-index: 50;
    background: #f3f5f7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;

    .moblinks{
        list-style: none;
        text-decoration: none;
        color: #000;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background: #000;
            color: #f3f5f7;
        }
    }
}