@import "../../assets/variables.scss";
.navbar{
    position: relative;
    display: flex;
    height: 60px;
    background: #f3f5f7;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .navlinks{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: 60px;
        

        .links{
            padding: 20px;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
            list-style: none;
            text-decoration: none;
            color: #000;
            @media screen and (max-width: $sm) {
                display: none;
              }
            &:hover{
                background: #090600;
                color: #f3f5f7;
            }
        }
    }
    img{
        position: absolute;
        left: 15px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}

.mobile-navicon{
    position: absolute;
    top: 18px;
    right: 25px;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;

    @media screen and (max-width: $sm) {
        display: flex;
      }
}