.container-card-data{
    display: flex;
    width: 100%;
    height: 700px;
    position: relative;
    flex-direction: column;
    margin-top: 20px;
    
    
    .title-card{
        background: rgba(255, 145, 0, 0.020);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
    }

    .img-datasets{
        display: flex;
        position: relative;
        width: 100%;
        height: 80%;
        padding: 20px;
    }
}